/* GLOBAL*/
html{
    height:100%;
}
body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    min-height:100%;
}

img {
    width: 100%;
    height: 100%;
    display:block;
    object-fit:cover;
}

a {
    text-decoration:none;
}
/*HEADER**************************************************************************************************************************************************/

.h34d3r {
    box-sizing: border-box;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 62px;
    line-height: 24px;
    text-size-adjust: 100%;
    width: 100%;
}

.n4v-h34d3r {
    background-color: black;
    align-items: center;
    box-sizing: border-box;
    color: black;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 62px;
    line-height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    position: fixed;
    text-size-adjust: 100%;
    z-index: 6;
    -webkit-box-align: center;
    width: 100%;
}
/* LOGO */
.l0g0 {
    box-sizing: border-box;
    float: left;
    height: 90%;
    width: 150px;
    color: white;
}
    .l0g0 a{
        text-decoration:none;
    }
    .l0g0-c0nt3nt {
        width: 100%;
        height: 50%;
    }
    .l0g0-c0nt3nt p {
        margin: 0px;
        text-align: center;
    }
.lgct1 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
}

.lgct2 {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.l0g02 {
    box-sizing: border-box;
    height: 50px;
    width: 576px;
    color: black;
    margin: auto;
    margin-bottom:15px;
}
/* SEARCH */
.s34rch {
    box-sizing: border-box;
    background-color: white;
    float: left;
    height: 90%;
    width: calc(100% - 600px);
    margin-left:12px;
}

/* COLLECTION*/
.h34d3r-0pt10n1 {
    box-sizing: border-box;
    float: right;
    height: 70%;
    width: 100px;
    margin-left: 12px;
}

/*BODY***************************************************************************************************************************************************/

.gl0b4l-b0dy {
    background-color: white;
    height: 100%;
    max-width: 1320px;
    margin:auto;
    padding-left: calc(12px);
    padding-right: calc(12px);
    padding-top: calc(24px);
}
/*MENU BAR************************************************************************************************************************************************/

.m3nu-b4r {
    box-sizing: border-box;
    width: 100%;
    height: 33px;
    margin-bottom: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.m3nu-b4r-sp4n {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 32px;
}
.m3nu-b4r-c0nt3nt {
    box-sizing:border-box;
    float:left;
    padding-right:24px;
}

    .m3nu-b4r-c0nt3nt a {
        color: black;
        text-decoration: none;
    }
/*PRODUCT*********************************************************************************************************************************************/

.product-column1 {
    background-color: white;
    width: calc(33.33% - 16px);
    height: 100%;
    margin-right: 12px;
    float: left;
}

.product-column2 {
    background-color: white;
    width: calc(33.33% - 16px);
    height: 100%;
    margin: 0px 12px 0px 12px;
    float: left;
}

.product-column3 {
    background-color: white;
    width: calc(33.33% - 16px);
    height: 100%;
    margin-left: 12px;
    float: left;
}
.product-cover {
    padding-bottom: 24px;
}

.product-img {
    border:1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

/*USER***************************************************************************************************************************************************/
/*LOGIN*/
.c0nt41n3r {
    width: 100%;
    height:100%;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
}
.l0g1n {
    padding: 0px 12px 0px 12px;
    box-sizing: border-box;
    height: 400px;
    margin-top: 200px;
}

.r0w {
    box-sizing: border-box;
    width:576px;
    height:100%;
    margin:auto;
}

.f0rm-gr0up {
    margin-bottom: 25px;
}

    .f0rm-gr0up label {
        display: inline-flex;
        -webkit-box-align: baseline;
        align-items: baseline;
        max-width: 100%;
        margin-bottom: 5px;
    }
.f0rm-c0ntr0l {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.6;
    color: #111111;
    border: 1px solid #999999;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s;
}

.btn {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid #999999;
    border-radius: 5px;
}

.f00t3r {
    box-sizing:border-box;
    text-align: center;

}
    .f00t3r a {
    color: dimgrey;
    cursor:pointer;
    }

/*REGISTER*/
.r3g1st3r {
    padding: 0px 12px 0px 12px;
    box-sizing: border-box;
    width: 65%;
    height: 480px;
    float: left;
    margin-top: 160px;
}

.r3g1st3r-c0v3r {
    float: left;
    height: 100%;
    width: 35%;
    position: relative;
}
.r3g1st3r-1m4g3 {
    background-color: black;
    border: 1px solid black;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
   
}
/*MANAGER USER*/
.sh4p3 {
    box-sizing: border-box;
    border-radius: 999px;
    height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
}
    .sh4p3:hover {
        background-color: #FFFAFA;
        color:black;
    }

.t3xt {
    box-sizing: border-box;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 17px;
    text-align: center;
}
