/* GLOBAL*/
body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*HEADER**************************************************************************************************************************************************/

.h34d3r {
    box-sizing: border-box;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 62px;
    line-height: 24px;
    text-size-adjust: 100%;
    width: 100%;
}

.n4v-h34d3r {
    background-color: black;
    align-items: center;
    box-sizing: border-box;
    color: black;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 62px;
    line-height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    position: fixed;
    text-size-adjust: 100%;
    z-index: 6;
    -webkit-box-align: center;

}
/* LOGO */
.l0g0 {
    box-sizing:border-box;
    float:left;
    height: 90%;
    width: 150px;
}
    .l0g0 a{
        text-decoration:none;
    }
    .l0g0-c0nt3nt {
        width: 100%;
        height: 50%;
    }
    .l0g0-c0nt3nt p {
        margin: 0px;
        color: white;
        text-align: center;
    }
.lgct1 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
}

.lgct2 {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

/* SEARCH */
.s34rch {
    box-sizing: border-box;
    background-color: white;
    float: left;
    height: 90%;
    width: 800px;
    margin-left:12px;
}

/* COLLECTION*/
.c0l3ct10n {
    box-sizing: border-box;
    background-color: white;
    float: right;
    height: 90%;
    width: 150px;
    margin-left: 12px;
}

/* USER */
.us3r {
    box-sizing: border-box;
    background-color: white;
    float: right;
    height: 90%;
    width: 150px;
    margin-left: 12px;
}

/* SETTING */
.s3tt1ng {
    box-sizing: border-box;
    background-color: white;
    float: right;
    height: 90%;
    width: 150px;
    margin-left: 12px;
}
/*BODY***************************************************************************************************************************************************/

.gl0b4l-b0dy {
    background-color: white;
    height: 100%;
    max-width: 1320px;
    margin:auto;
    padding-left: calc(12px);
    padding-right: calc(12px);
    padding-top: calc(24px);
}
/*MENU BAR************************************************************************************************************************************************/

.m3nu-b4r {
    box-sizing: border-box;
    width: 100%;
    height: 33px;
    margin-bottom: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.m3nu-b4r-sp4n {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 32px;
}
.m3nu-b4r-c0nt3nt {
    box-sizing:border-box;
    float:left;
    padding-right:24px;
}

    .m3nu-b4r-c0nt3nt a {
        color: black;
        text-decoration: none;
    }
/*PRODUCT*********************************************************************************************************************************************/

.pr0duct-b0dy {
}
.product-column1 {
    background-color: white;
    width: calc(33.33% - 16px);
    height: 100%;
    margin-right: 12px;
    float: left;
}

.product-column2 {
    background-color: white;
    width: calc(33.33% - 16px);
    height: 100%;
    margin: 0px 12px 0px 12px;
    float: left;
}

.product-column3 {
    background-color: white;
    width: calc(33.33% - 16px);
    height: 100%;
    margin-left: 12px;
    float: left;
}

.product-img {
    margin-bottom: 24px;
}

/*USER***************************************************************************************************************************************************/
.c0nt41n3r-l0g1n {
    box-sizing: border-box;
    padding: 0px 12px 0px 12px;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
}

.c0nt41n3r-r0w {
    box-sizing: border-box;
    width:576px;
    height:100%;
    margin:auto;
}

.f0rm-gr0up {
    margin-bottom: 25px;
}

    .f0rm-gr0up label {
        display: inline-flex;
        -webkit-box-align: baseline;
        align-items: baseline;
        max-width: 100%;
        margin-bottom: 5px;
    }
.f0rm-c0ntr0l {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.6;
    color: #111111;
    border: 1px solid #999999;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s;
}

.btn {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid #999999;
    border-radius: 5px;
}

.l0g1n-f00t3r {
    box-sizing:border-box;
    text-align: center;

}
    .l0g1n-f00t3r a {
    color: dimgrey;
    cursor:pointer;
    }