/* GLOBAL*/
body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*HEADER**************************************************************************************************************************************************/

.h34d3r {
    box-sizing: border-box;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 62px;
    line-height: 24px;
    text-size-adjust: 100%;
    width: 100%;
}

.n4v-h34d3r {
    background-color: black;
    align-items: center;
    box-sizing: border-box;
    color: black;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 62px;
    line-height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    position: fixed;
    text-size-adjust: 100%;
    z-index: 6;
    -webkit-box-align: center;

}
/* LOGO */
.l0g0 {
    box-sizing:border-box;
    float:left;
    height: 90%;
    width: 150px;
}
    .l0g0 a{
        text-decoration:none;
    }
    .l0g0-c0nt3nt {
        width: 100%;
        height: 50%;
    }
    .l0g0-c0nt3nt p {
        margin: 0px;
        color: white;
        text-align: center;
    }
.lgct1 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
}

.lgct2 {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

/* SEARCH */
.s34rch {
    box-sizing: border-box;
    background-color: white;
    float: left;
    height: 90%;
    width: 800px;
    margin-left:12px;
}

/* COLLECTION*/
.c0l3ct10n {
    box-sizing: border-box;
    background-color: white;
    float: right;
    height: 90%;
    width: 150px;
    margin-left: 12px;
}

/* USER */
.us3r {
    box-sizing: border-box;
    background-color: white;
    float: right;
    height: 90%;
    width: 150px;
    margin-left: 12px;
}

/* SETTING */
.s3tt1ng {
    box-sizing: border-box;
    background-color: white;
    float: right;
    height: 90%;
    width: 150px;
    margin-left: 12px;
}
/*BODY***************************************************************************************************************************************************/

.gl0b4l-b0dy {
    background-color: white;
    height: 100%;
    max-width: 1320px;
    margin:auto;
    padding-left: calc(12px);
    padding-right: calc(12px);
    padding-top: calc(24px);
}
/*MENU BAR************************************************************************************************************************************************/

.m3nu-b4r {
    box-sizing: border-box;
    width: 100%;
    height: 33px;
    margin-bottom: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.m3nu-b4r-sp4n {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 32px;
}
.m3nu-b4r-c0nt3nt {
    box-sizing:border-box;
    float:left;
    padding-right:24px;
}

    .m3nu-b4r-c0nt3nt a {
        color: black;
        text-decoration: none;
    }
/*PRODUCT*********************************************************************************************************************************************/

.pr0duct-b0dy {
}
.product-column1 {
    background-color: white;
    width: calc(33.33% - 16px);
    height: 100%;
    margin-right: 12px;
    float: left;
}

.product-column2 {
    background-color: white;
    width: calc(33.33% - 16px);
    height: 100%;
    margin: 0px 12px 0px 12px;
    float: left;
}

.product-column3 {
    background-color: white;
    width: calc(33.33% - 16px);
    height: 100%;
    margin-left: 12px;
    float: left;
}

.product-img {
    margin-bottom: 24px;
}

/********************************************************************************************************************************************************/
/* USER */
