
@{
    ViewBag.Title = "Dao Nguyen Lighting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pr0duct-b0dy">
    <div class="product-column1">
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/brooke-lark-609899-unsplash.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523041194693-639158e9cf82.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523122196-b506b92a6dff.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523182504139-1ab6bbee7441.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523185682241-6f9b2b9e25f4.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523255971896-2c08d93dd3a8.jpg" />
            </div>
        </div>
        
    </div>
    <div class="product-column2">
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523257459668-56bc6b368630.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523259329004-7ec44c79e0ba.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523259392094-227613414520.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523261473917-312105e299c5.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523262297412-fafbd40c6aa4.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523264165578-20bfb5da52b5.jpg" />
            </div>
        </div>
    </div>
    <div class="product-column3">
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523264992778-f48d3e6d70a3.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523265923891-82e32e70381a.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523270921322-951983b06d62.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523264992778-f48d3e6d70a3.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523265923891-82e32e70381a.jpg" />
            </div>
        </div>
        <div class="product-cover">
            <div class="product-img">
                <img src="~/Image/beautiful/photo-1523270921322-951983b06d62.jpg" />
            </div>
        </div>
      
    </div>
    </div>
    
