
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<link href="~/Content/Style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>

<div class="c0nt41n3r-l0g1n">
    <div class="c0nt41n3r-r0w">
        <form id="login-form">
            <div class="f0rm-gr0up">
                <label for="user_email">Email address</label><br />
                <input class="f0rm-c0ntr0l" type="email" id="user_email"  value="">
            </div>
            <div class="f0rm-gr0up">
                <label for="user_password">Password </label><br />
                <input class="f0rm-c0ntr0l" type="password" id="user_password" value="">
            </div>
            <div class="f0rm-gr0up">
                <input type="submit" name="commit" value="Login" class="btn"  onclick="Login()">
            </div>
        </form>
        <p class="l0g1n-f00t3r">
            Don't have an account? <a >Sign Up</a>
        </p>

    </div>
</div>

<script>
    function Login() {
        var data = $("#login-form").serialize();
        $.ajax({
            type: "post",
            url: 

        });
    }
</script>